ion-card {
  margin-bottom: 20px;
  ion-img {
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
  }
}

ion-item {
  margin-bottom: 15px;
}

ion-button {
  margin-top: 20px;
  height: 44px;
  font-size: 16px;
}
